[submodule "lib/eul"]
	path = lib/eul
	url = git@github.com:matgla/EmbeddedUtilityLibraries.git
[submodule "lib/crcpp/crcpp"]
	path = lib/crcpp/crcpp
	url = https://github.com/d-bahr/CRCpp
[submodule "lib/boost/di"]
	path = lib/boost/di
	url = https://github.com/boost-experimental/di.git
